.backgroundContainer {
  background-image: url('/windows-xp-background.jpeg'); 
  min-height: 100vh; 
  width: 100%;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.content {
  padding: 20px;
  color: white;
}