@import url('global.css');

.webpageRoot {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    color: white;
    text-align: center;
    font-family: var(--primary-font);
    font-size: 1.9rem;
}


.webpageBackground {
    background-image: url('/background-space.gif');
    background-color: rgb(0, 0, 0);

}

.titleWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.title {
    font-size: 2.5rem !important;
    text-align: left;
    padding: 1.5rem;
    margin: 0;
    font-weight: bolder;
    /* font-family: "Pixelated MS Sans Serif Bold"; */
    background-color: var(--xp-blue-primary);
    border-radius: 1rem;
    flex: 1;
}

.bulletPoints {
    padding-left: 2rem;
    margin: 0;
}


.titleGif {
    max-width: 40%;
    padding-left: 1.5rem;
    flex: 1;
}

.computerGif {
    width: 100%;
    margin: 1.5rem 0;
}

.computerGif img {
    width: 30%;
    aspect-ratio: 8/3;

}

.webpageRootMinimized {
    padding: 2rem;
}

.webpageRootMaximized {
    padding: min(3vh, 3vw) 15vw;
}

.webpageRootMaximized .title {}

.webpageRootMaximized p {
    font-size: 1.75rem;
}

.columns {
    width: 100%;
    display: flex;
}

.rows {
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: start;
}



.textBox {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

    text-align: left;

    margin: 2rem 0;
    padding: 1.5rem;



}

.contactInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInfo a {
    margin: 0 2rem;
}

.contactInfo a p {
    pointer-events: none;
    font-family: var(--primary-font-bold);
}

.textBox p {
    width: 100%;
    padding: 0;
    margin: 0;
}

.boxBorder {
    border-style: dashed;
    border-radius: 1rem;
    border-color: var(--xp-blue-primary);
}

.leftColumn {
    /* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    flex: 0 0 35%;
    margin-right: 2rem;
}

.rightColumn {
    /* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    /* flex: 0 0 35%; */
}

.textBoxPicture {
    aspect-ratio: 3/4;
    color: white;
}

.textBoxPicture div {
    background-color: var(--xp-blue-primary);
}



.content {
    flex: 1;
    width: 100%;
}




@media (max-width: 750px) {
    .webpageRootMaximized {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1500px) {
    .webpageRootMaximized {}
}

/* Phone settings */
@media screen and (max-width: 800px) {
    .webpageRoot {
        font-size: 0.5rem;
        flex-direction: row;
    }

    .leftColumn, .rightColumn {
        width: 100%;
    }

}