@import url('global.module.css');

.webpageRoot {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    color: var(--xp-silver-light);
    text-align: center;
    font-family: var(--primary-font);

}


.webpageBackground {
    background-image: url('/background-space.gif');
    background-color: rgb(0, 0, 0);

}

.titleWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.title {
    font-size: 2rem !important;
    text-align: left;
    padding: var(--padding-aboutme);
    margin: 0;
    font-weight: bolder;
    /* font-family: "Pixelated MS Sans Serif Bold"; */
    background-color: var(--xp-blue-primary);
    border-radius: 1rem;
    flex: 1;
}

.bulletPoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.bulletPoints li {
    margin: 0.25rem;
}

.titleGif {
    max-width: 30%;
    padding-left: var(--padding-aboutme);
    flex: 1;
}

.computerGif {
    width: 100%;
    margin: var(--padding-aboutme) 0;
}

.computerGif img {
    width: 30%;
    aspect-ratio: 8/3;

}

.webpageRootMinimized {
    padding: 2rem;
}

.webpageRootMaximized {
    padding: 2rem
}

.webpageRootMaximized .title {}

.webpageRootMaximized p {
    font-size: 1.25rem;
}

.columns {
    width: 100%;
    display: flex;
    justify-content: center;

}

.rows {
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: start;
}



.textBox {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

    text-align: left;

    margin: var(--padding-aboutme) 0;
    padding: var(--padding-aboutme);



}

.contactInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInfo a {
    margin: 0 var(--padding-aboutme);
}

.contactInfo a p {
    pointer-events: none;
    font-family: var(--primary-font-bold);
}

.textBox p {
    width: 100%;
    padding: 0;
    margin: 0;
}

.boxBorder {
    border-style: dashed;
    border-radius: 1rem;
    border-color: var(--xp-blue-primary);
}

.leftColumn {
    /* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    /* flex: 0 0 35%; */
    margin-right: var(--padding-aboutme);
    width: 20rem;
    max-width: 30%;
}

.rightColumn {
    /* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    /* flex: 0 0 35%; */
    width: 40rem;
    max-width: 70%;
    /* flex: 1; */
}

.textBoxPicture {
    aspect-ratio: 3/4;
    color: white;
}

.textBoxPicture div {
    background-color: var(--xp-blue-primary);
}

.content {
    /* flex: 1;
    width: 100%; */
}




@media (max-width: 750px) {
    .webpageRootMaximized {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1500px) {
    .webpageRootMaximized {}
}

/* Phone settings */
@media screen and (max-width: 800px) {
    .webpageRoot {
        flex-direction: row;
    }

    .leftColumn, .rightColumn {
        width: 100%;
    }

}