@import url('global.css');

.webpageRoot {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    color: white;
    text-align: center;
    font-family: "Pixelated MS Sans Serif";
    font-size: 1.5em;
}


.webpageBackground {
    background-image: url('/background-space.gif');
    background-color: rgb(0, 0, 0);

}

.titleWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title {
    font-size: 2.5em;
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: bolder;
    /* font-family: "Pixelated MS Sans Serif Bold"; */

}

.bulletPoints {
    padding-left: 1em;
}

.titleGif {
    width: 25%;
    aspect-ratio: 5/3;
}

.webpageRootMinimized {
    padding: min(3vh, 3vw);
}

.webpageRootMaximized {
    padding: min(3vh, 3vw) 15vw;
}

.webpageRootMaximized p {
    font-size: 1.5em;
}

.webpageRootMaximized .title {
    font-size: 3em;
}


.columns {
    width: 100%;
    display: flex;
}

.rows {
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: start;
}



.textBox {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

    text-align: left;

    margin: min(3vh, 3vw) 0;
    padding: 0 min(3vh, 3vw);
}

.boxBorder {

    border-style: dashed;
    border-radius: 0;
    border-color: var(--xp-blue-primary);
}

.leftColumn {
    /* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    flex: 0 0 35%;
    margin-right: min(3vh, 3vw);
}

.rightColumn {
    /* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    flex: 0 0 35%;
}

.textBoxPicure {
    aspect-ratio: 3/4;
    color: black;
}


.content {
    flex: 1;
    width: 100%;
}



@media (max-width: 750px) {
    .webpageRootMaximized {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (min-width: 1500px) {
    .webpageRootMaximized {}
}