@import url('global.css');

.webpageRoot {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    color: white;
    text-align: center;
    font-family: "Pixelated MS Sans Serif";
    font-size: 1.75em;
}


.webpageBackground {
    background-image: url('/background-space.gif');
    background-color: rgb(0, 0, 0);

}

.titleWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.title {
    font-size: 2.0em;
    text-align: left;
    padding: 0.5em;
    margin: 0;
    font-weight: bolder;
    /* font-family: "Pixelated MS Sans Serif Bold"; */
    background-color: var(--xp-blue-primary);

}

.bulletPoints {
    padding-left: 1em;
    margin: 0;
}


.titleGif {
    flex: 1;
    margin-left: 1em;
    aspect-ratio: 5/3;
}

.computerGif {
    width: 100%;
    margin: 3em 0;
}

.computerGif img {
    width: 30%;
    aspect-ratio: 8/3;

}

.webpageRootMinimized {
    padding: min(3vh, 3vw);
}

.webpageRootMaximized {
    padding: min(3vh, 3vw) 15vw;

    font-size: 1.0em;
}

.webpageRootMaximized .title {
    font-size: 2.5em;
}

.columns {
    width: 100%;
    display: flex;
}

.rows {
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: start;
}



.textBox {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

    text-align: left;

    margin: 1em 0;
    padding: 1em;



}

.contactInfo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInfo a {
    margin: 0 1em;
}

.contactInfo a p {
    pointer-events: none;
}

.textBox p {
    width: 100%;
    padding: 0;
    margin: 0;
}

.boxBorder {
    border-style: dashed;
    border-radius: 0;
    border-color: var(--xp-blue-primary);
}

.leftColumn {
    /* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    flex: 0 0 35%;
    margin-right: 1em;
}

.rightColumn {
    /* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    flex: 0 0 35%;
}

.textBoxPicure {
    aspect-ratio: 3/4;
    color: white;
}

.textBoxPicure div {
    background-color: var(--xp-blue-primary);
}


.content {
    flex: 1;
    width: 100%;
}




@media (max-width: 750px) {
    .webpageRootMaximized {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media (min-width: 1500px) {
    .webpageRootMaximized {}
}