.buttonsBox {
  width: min(100vh, 100vw);
  position: fixed;
  display: flex;
  flex-direction: row;
  /* center horizontally */
  justify-content: center;
  /* center vertically */
  align-items: center;
  z-index: 1;
}