.buttonsBox {
  width: 80vw;
  position: fixed;
  display: flex;
  flex-direction: row;
  /* center horizontally */
  justify-content: center;
  /* center vertically */
  align-items: center;
  z-index: 1;
}

/* Phone settings */
@media screen and (max-width: 800px) {
  .buttonsBox {
    flex-direction: column;
    width: 80%;
    height: 80%;
  }
}