@import url('global.css');

/* Create CRT lines by using a lineair gradient */
.crtLines::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Create alternating transparent and semi-transparent lines */
    background: linear-gradient(to bottom,
            rgba(18, 16, 16, 0) 70%,
            rgba(0, 0, 0, 0.25) 70%);
    /* Size of the repeating gradient pattern */
    background-size: 100% 4px;
    /* Lines above all elements */
    z-index: 9999;
    /* Lines are non clickable */
    pointer-events: none;
    /* Make the lines a certain opacity */
    opacity: 0.9;

    filter: blur(1px);
}

/* Create a glow effect for the texct*/
.crt {
    /* Green colour for the text */
    /* color: #00ff41;  */
    font-family: 'Courier New', monospace;
    /* Monospace for that retro look */

    /* Create the "glow" effect */
    text-shadow: 0 0 0.04em #00ff41;
    /* Outer screen glow */
    box-shadow: 0 0 1 rgba(0, 255, 65, 0.5);

    display: flex;
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */

    height: 100%;
    width: 100%;
    /* Subtle blur for older, less crisp screens */
    filter: brightness(105%);
    /* Make screen brighter because CRT lines make it darker */

    ;


    /* box-shadow: [inset] [offset-x] [offset-y] [blur-radius] [spread-radius] [color]; */
    box-shadow: inset 0px 2vh min(5vw, 10vh) rgba(0, 0, 0, 0.5);


}


.crtMainScreen {
    /* Transform so it fits in the monitor screen */
    transform: scaleX(0.8605) scaleY(0.833);

}


/* Distortion for the CRT, it will warp the screen */
.crtFishEye {

    /* Slight barrel distortion using the skew and scale transforms */
    /* transform: perspective(200px) rotateX(0.3deg) scaleX(1.08) translateY(-1.1vh) scaleY(1.01) ; */
    transform: perspective(1000px) rotateX(0.8deg) scale(1.006) translateY(-0.5vh);
    /* skewX(1deg) */


}


.monitor {
    pointer-events: none;
    overflow: hidden;
}

/* The monitor screen border */
.monitorScreen {
    position: absolute;
    z-index: 10000;
    transform: translateX(0.15%) scaleX(1.005);
}

.monitorName {
    z-index: 10001;
    position: fixed;
    transform: translateY(47%) scale(0.55);
    object-fit: contain;
    object-position: center;
    margin-bottom: 20px;
}


.monitorButton {
    position: fixed;
    bottom: 0.5vh;
    right: 5vw;
    z-index: 11111;

    pointer-events: visible;
}

/* Flicker animation of the screen, not so pretty and annoying */
.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.14);
    z-index: 3;
    pointer-events: none;
    animation:
        flicker 0.5s infinite alternate,
        /* glowPulse 0.5s ease-in-out infinite */
        /* outer-bloom 3s ease-in-out infinite alternate; */
    ;
}

@keyframes flicker {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 0.15;
    }

    75% {
        opacity: 0.05;
    }
}

@keyframes outer-bloom {
    0% {
        box-shadow:
            0 0 10px #33ff33,
            0 0 20px rgba(51, 255, 51, 0.2);
    }

    100% {
        box-shadow:
            0 0 25px #33ff33,
            0 0 45px rgba(51, 255, 51, 0.4),
            0 0 70px rgba(51, 255, 51, 0.1);
    }
}

@keyframes glowPulse {
    0%, 100% {
        box-shadow: 0 0 15px 2px rgba(51, 255, 51, 0.4),
            inset 0 0 10px rgba(51, 255, 51, 0.2);
    }

    50% {
        box-shadow: 0 0 25px 5px rgba(51, 255, 51, 0.6),
            inset 0 0 15px rgba(51, 255, 51, 0.3);
    }
}


/* Phone settings */
@media screen and (max-width: 800px) {
    .monitor, .monitorButton, .monitorName, .crtLines {
        display: none;

    }

    .crtMainScreen, .crtFishEye {
        transform: none;
        overflow: none;
    }
}