@import url('global.module.css');

.root {
    position: relative;
    flex: 1;
    display: block;
    font-family: var(--primary-font);
    margin: 0.5rem;
    /* background-color: #bbbebf; */

}

.root p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.wrapper {
    flex: 1;
    display: flex;
    height: 100%;
    margin: 0 0.5rem 0 0.5rem;
}

.title {
    text-align: center;
    margin: 0 0 1rem 0;
    background-color: var(--xp-blue-primary);
    color: var(--xp-blue-light);
    border-radius: 0.5rem;
    padding: 1rem;
}

.title h1 {
    all: unset;
    font-size: 2rem !important;
    font-family: var(--primary-font-bold);
}

.markdownTitle {

    width: 90%;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--xp-silver-border);

}

.markdownTitle h1 {
    all: unset;
    font-family: var(--primary-font-bold);
    font-size: 2rem !important;
}

.markdownBulletpoint {
    display: flex;
}

.markdownBulletpointText {
    margin-left: 0.25rem;
}

.tags {
    font-family: var(--primary-font-bold);
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0;
    align-items: center;
    justify-content: center;
    /* Centers horizontally */
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px dotted var(--xp-silver-border);
}

.tags p {
    margin: 0;
    padding: 0.5em 1rem;

    color: black;
    background-color: var(--xp-silver-light);

}

.tag {
    border: 2px solid var(--xp-blue-primary);
    border-radius: 1rem;
    color: black;
}

.description {
    flex: 1;
    overflow: auto;

    margin-top: 1rem;

}

.projectsBox {
    background-color: var(--xp-silver-light);
    border-radius: 0.5rem;
    padding: 1rem;
    border: 2px solid var(--xp-blue-primary);
}

.description p {
    margin: 0;

}

.leftArea {
    display: flex;
    flex-direction: column;

    /* margin-right: 1rem; */
    width: 65%;
    height: 100%;
    margin: 0 1rem 0 0;
}


.rightArea {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 100%;

    padding-left: 1rem;
    border-left: 2px dotted var(--xp-silver-border);
}

.screenshots {

    height: 50%;
    padding: 0rem;
}


.bulletpoints {
    display: block;
    margin: 1rem 0 0 0;
    height: 50%;
    overflow-y: auto;
    overflow-x: clip;

}

.bulletpoints ul {
    padding-left: 2rem;
}

.bulletpoints li {
    padding-bottom: 1rem;
}

.dividingLine {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--xp-silver-border);
}

.readmeBackground {
    background-color: var(--xp-silver-light);
    border-radius: 0.5rem;
}


.readMeWrapper {
    height: 100%;
    padding: 1rem;
    margin: 0 0.5rem 1rem 0.5rem;
    overflow-y: auto;

}

.readMeRoot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.readmeSwitchButton {
    padding: 1rem;
    font-family: var(--primary-font);
    font-size: 1rem;
    display: flex;
    align-items: center;
}

/* Preview pic small */
.picsOuter {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.pics {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 0.5rem;
}

.picWrap {
    position: relative;
    background-color: var(--xp-blue-light);
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;

}

.pic, .picWrap, .pics, .previewRoot {
    border-radius: 0.25rem;
}

.pic {
    object-fit: cover;
}

/* Preview pic big */

.previewRoot {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;

    /* Blur */
    background: rgba(236, 233, 216, 0.75);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(1rem);


    display: flex;
    align-items: center;
    justify-content: center;

}

.previewRootWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95%;
}



.previewRoot .previewPicWrapper {
    position: relative;
    height: 100%;
    aspect-ratio: 3/4;

    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}


.previewPicWrapper img {}

.previewPic {
    object-fit: contain;
    aspect-ratio: 3/4;
    height: 100%;
    max-height: 60vw;
    width: 100%;
    border-radius: 0.5rem;
}


.controls {
    font-weight: bold;
    font-size: 1rem;
    height: 3rem;
    width: 3rem;
    margin: 0 1rem;
    min-width: fit-content;
}

.goBackButton {
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    top: 2.5%;
    left: 2.5%;
    padding: 1rem 1rem;
    z-index: 3;
}

/* Phone settings */
@media screen and (max-width: 1500) {
    .root {
        overflow-x: auto;
    }

}