@import url('global.module.css');

.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* Tree */

.treeElementChild:hover {
    margin-left: 1rem;

    color: var(--xp-blue-primary);
}

.treeElement {

    transition: color 125ms ease-out;
    transition: margin-left 125ms ease-out;
}

.fileActive {
    background-color: var(--xp-blue-primary) !important;
    color: var(--xp-blue-light) !important;
    border-radius: 0.5rem;

    margin-right: 0.5rem;
}


.tree {
    color: black;
    height: 100%;
    width: 16.5rem;
    min-width: 16.5rem;
    /* width: fit-content; */

    overflow-y: auto;
    overflow-x: hidden;

    margin: 0;
    padding: 0rem;
    /* padding-right: 0.5rem; */

    border-right: 1px solid var(--xp-blue-border);

    display: block;


    font-family: var(--primary-font);
}

.maximize .tree {
    width: 16.5rem;
}

/* Remove arrow */
.tree summary, .tree ul, .tree li {
    list-style: none;
}

.tree ul {
    padding-left: 1.4rem;
}

.tree summary {
    padding: 0.5rem 0.5rem;


}

.tree summary {
    font-family: var(--primary-font-bold);
}


/* Remove arrow for safari */
.tree summary::-webkit-details-marker {
    display: none;
}

.tree details>summary:before {
    text-align: center;
    display: block;
    float: left;
    content: "+";
    border: 1px solid var(--xp-blue-border);
    background-color: var(--xp-silver-light);
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    margin-left: 0.15rem;
}

.tree details[open]>summary:before {
    content: "-"
}

.icon {
    display: inline-block;
    position: relative !important;
    aspect-ratio: 1 / 1;
    width: 1.25rem !important;
    height: 1.25rem !important;

    margin-right: 0.3rem;
}

.treeElement {
    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: center;

    padding: 0.5rem 0.5rem;
}

/* Phone settings */
@media screen and (max-width: 800px) {
    .tree p {
        font-size: 0.4rem;
    }


}