@import url('global.css');

.root {
    flex: 1;
    display: block;
    font-family: var(--primary-font);
    margin: 0.5rem;
    /* background-color: #bbbebf; */

}

.root p {
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.wrapper {
    flex: 1;
    display: flex;
    height: 100%;
}



.title {
    text-align: center;
    margin: 0 1rem 1rem 1rem;
    background-color: var(--xp-blue-primary);
    color: var(--xp-blue-light);
    border-radius: 0.5rem;
    padding: 1rem;
}

.title p {
    font-size: 2rem !important;
    font-family: var(--primary-font-bold);
}

.markdownTitle {

    width: 90%;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--xp-silver-border);

}

.markdownTitle p {
    font-family: var(--primary-font-bold);
    font-size: 2rem !important;
}

.markdownBulletpoint {
    display: flex;
}

.markdownBulletpointText {
    margin-left: 0.25rem;
}

.tags {
    font-family: var(--primary-font-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centers horizontally */
    text-align: center;
    padding-bottom: 1rem;
    margin: 0 1rem;
    border-bottom: 2px dotted var(--xp-silver-border);
}

.tags p {
    margin: 0;
    padding: 0.5em 1rem;

    color: black;
    background-color: var(--xp-silver-light);

}

.tag {
    border: 2px solid var(--xp-blue-primary);
    border-radius: 1rem;
    color: black;
}

.description {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.description p {
    margin: 0 0.5rem;
}

.leftArea {
    display: flex;
    flex-direction: column;

    /* margin-right: 1rem; */
    width: 70%;
    height: 100%;
}


.rightArea {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 100%;

    padding-left: 0.5rem;
    border-left: 2px dotted var(--xp-silver-border);
}

.screenshots {
    max-height: 50%;
    border: 2px solid var(--xp-blue-primary);
    border-radius: 0.5rem;
}


.bulletpoints {
    margin: 1rem 1rem 0 0;
    padding-left: 0.5rem;
    width: 100%;
    height: 50%;
    overflow-y: scroll;

}

.bulletpoints ul {
    padding-left: 2rem;
}

.bulletpoints li {
    padding-bottom: 1rem;
}

.dividingLine {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--xp-silver-border);
}

.readmeBackground {
    background-color: var(--xp-silver-light);
    border-radius: 0.5rem;
}

.readMeWrapper {
    display: flex;
    height: 100%;
    padding: 1rem;
    padding-bottom: 10rem;
    overflow: auto;

}

.readMeRoot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.readmeSwitchButton {
    padding: 1rem;
    font-family: var(--primary-font-bold);
    margin-top: 1rem;
    font-size: 1.5rem;
}