@import url('global.css');

.root {
    flex: 1;
    display: block;
    font-family: var(--primary-font);
    margin: 1em;
    /* background-color: #bbbebf; */

}

.root p {
    font-family: var(--primary-font);
    margin-top: 0em;
    margin-bottom: 0em;
}

.wrapper {
    flex: 1;
    display: flex;
    height: 100%;
    font-size: min(2cqw, 2cqh);
}



.title {
    text-align: center;
    font-family: var(--primary-font-bold);
    font-size: min(4cqw, 4cqh);
    margin: 0 0.5em 0.5em 0.5em;
    background-color: var(--xp-blue-primary);
    color: var(--xp-blue-light);
    border-radius: 0.25em;
    padding: 0.25em;
}

.markdownTitle {
    font-family: var(--primary-font-bold);
    font-size: min(4cqw, 4cqh);
    width: 90%;
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--xp-silver-border);

}

.tags {
    font-family: var(--primary-font-bold);
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centers horizontally */
    text-align: center;
    padding-bottom: 0.5em;
    margin: 0 0.5em;
    border-bottom: 2px dotted var(--xp-silver-border);
}

.tags p {
    margin: 0;
    padding: 0.20em 0.5em;

    color: black;
    background-color: var(--xp-silver-light);

}

.tag {
    border: 2px solid var(--xp-blue-primary);
    border-radius: 0.25em;
    color: black;
}

.description {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.description p {
    margin: 0 0.5em;
}

.leftArea {
    display: flex;
    flex-direction: column;

    /* margin-right: 1em; */
    width: 50%;
    height: 100%;
}


.rightArea {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 100%;

    padding-left: 0.5em;
    border-left: 2px dotted var(--xp-silver-border);
}

.screenshots {
    max-height: 50%;
    border: 2px solid var(--xp-blue-primary);
    border-radius: 0.5em;
}


.bulletpoints {
    margin: 1em 0.5em 0 0;
    padding-left: 0.5em;
    width: 100%;
    height: 50%;
    overflow-y: scroll;

}

.bulletpoints ul {
    padding-left: 2.5em;
}

.bulletpoints li {
    padding-bottom: 0.5em;
}

.dividingLine {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--xp-silver-border);
}

.readmeBackground {
    background-color: var(--xp-silver-light);
    border-radius: 0.5em;


}

.readMeWrapper {
    display: flex;
    height: 100%;
    font-size: 1.6em;
    padding: 1em;
    overflow: auto;

}

.readMeRoot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.readmeSwitchButton {
    padding: 1em;
    font-size: 2em;
    margin-top: 1em;
}