html, body, #root{
  /* Set both the HTML and body to take up the full height of the browser window */
  height: 100%;
  width: 100%;
  margin: 0; /* Remove default browser margin/padding */
  padding: 0;

  /* Use a standard pointer */
  cursor: auto; 
}

.noSelect {
  /* Dont let user select anything on the loadign screen */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10 and 11 */
  user-select: none;         /* Standard syntax */
}


/* Remove all styles from the pdf link   */
.pdfLink, .pdfLink:link, .pdfLink:focus, .pdfLink:active, .pdfLink:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none; 
    text-decoration: none;
    color: inherit;
}


/* Apply the border-box model globally */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Mouse arrow */
/* https://www.rw-designer.com/cursor-set/windows-xp-1 */
/* Smaller mouse arrow when clicked */
.mousePointer {
  /* Using the classic XP finger pointer */
  cursor: url('/mouse_pointers/xp_mouse_arrow_large.cur'), pointer;
}
.mousePointer:active, .mousePointer:active{
    /* Using the classic XP finger pointer */
  cursor: url('/mouse_pointers/xp_mouse_arrow.cur'), pointer;
}

/* While on waiting screen, put waiting pointer */
.waitingPointer {
  cursor: url('/mouse_pointers/xp_mouse_busy_large.cur'), pointer;
}
.waitingPointer:active {
  cursor: url('/mouse_pointers/xp_mouse_busy.cur'), pointer;
}

/* When something is clickable */
button, a {
  cursor: url('/mouse_pointers/xp_mouse_link_large.cur'), auto;
}
/* While clicking, change to smaller */
button:active, a:active {
  cursor: url('/mouse_pointers/xp_mouse_link.cur'), auto;
}

/* While hovering over text */
p {
  cursor: url('/mouse_pointers/xp_mouse_text_large.cur'), auto;
}
p:active {
  cursor: url('/mouse_pointers/xp_mouse_text_small.cur'), auto;
}

