


.backgroundContainer {
  background-image: url('/windows-xp-background.jpeg'); 
  height: 100vh; 
  width: 100vw;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.content {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.popupScreen {
  box-sizing: border-box;
  width: min(80vw, 100vh);
  height: min(70vh, 100vw);
  display: flex;
  flex-direction: column;
}

.buttonsBox {
  width: min(100vh,100vw);
  display: flex; 
  flex-direction: row;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */

}

.iconFont{
  font-family: "Pixelated MS Sans Serif";
  font-size: min(3vh,3vw); /* Standard size */
  color: white; /* White text is key */
  
  margin-top: 1vh;
  margin-bottom: 0;
  
  /* Create the sharp, 4-directional black shadow outline */
  text-shadow: 
    -1px 1px 0 #000000,
    0px 1px 0 #000000,
    -1px 0px 0 #000000;
  
    /* font-weight: bold; */
}

.buttonBox {

  /* Center the text if needed */
  text-align: center;
  width: min(20vh,20vw);
  height: min(20vh,20vw);

  background-color: transparent;

  margin-left: 1vw;
  margin-right: 1vw;
  display: flex; 
  flex-direction: column;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.iconBox {
  width: 100%;
  height: 100%;
  
  /* Needed for the image scalign down */
  position: relative; 
}

.clickableImage {
  object-fit: contain;
}

.popupBody {
  height: auto;    /* Correct: Takes 100% of the parent (.window-body) */
  max-height: 100%;
  max-width: 100%;
  flex-grow: 1;
  overflow: auto;
}

.popupIframe{
  height: 100%;    /* Correct: Takes 100% of the parent (.popupBody) */
  width: 100%;
  display: block;
}


.pdfLink, .pdfLink:link, .pdfLink:focus, .pdfLink:active, .pdfLink:focus:not(:focus-visible) {
    outline: none;
    box-shadow: none; 
    text-decoration: none;
    color: inherit;
}

.loadingBackground{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  display: flex; 
  flex-direction: row;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */

  text-align: center;

  height: 100vh; 
  width: 100vw;

  /* Full opacity at start */
  opacity: 1;
  z-index: 9998;
}


.loadingBackgroundFadeOut{
  /* Set the duration for the whole animation */
  animation: autoFadeOut 3s forwards; 
  
  /* Full opcaity at start */
  opacity: 1; 
}

@keyframes autoFadeOut {
  0% { opacity: 1; }
  75% { opacity: 1; } 
  
  100% { opacity: 0; visibility: hidden; } 
}

.loadingGif{
  max-width: min(50vh,50vw);
  max-height: min(50vh,50vw);
}