/* variables.css */
:root {
  font-size: 1.1rem;
  --primary-font: "Pixelated MS Sans Serif";
  --primary-font-bold: "Pixelated MS Sans Serif Bold";

  /* --- BLUE THEME (Default Luna) --- */
  --xp-blue-primary: #0050ee;
  /* Title bars */
  --xp-blue-taskbar: #245dda;
  /* Taskbar base */
  --xp-blue-light: #ece9d8;
  /* Selected items/backgrounds */
  --xp-blue-border: #1941a5;
  /* Window borders */

  /* --- OLIVE GREEN THEME (Homestead) --- */
  --xp-green-primary: #388238;
  /* Title bars */
  --xp-green-taskbar: #53a353;
  /* Taskbar/Start button green */
  --xp-green-light: #eef3e1;
  /* Backgrounds */
  --xp-green-border: #245024;
  /* Borders */

  /* --- SILVER THEME (Metallic) --- */
  --xp-silver-primary: #adb2bd;
  /* Title bars */
  --xp-silver-taskbar: #d4d0c8;
  /* Taskbar/Buttons */
  --xp-silver-light: #f1f1f1;
  /* Backgrounds */
  --xp-silver-border: #808080;
  /* Borders */

  /* --- ACCENT COLORS --- */
  --xp-orange-close: #e74c3c;
  /* The 'X' Close button */
  --xp-yellow-warning: #fccf03;
  /* Classic warning/folder yellow */
  --xp-bliss-sky: #0997ff;
  /* Background sky blue */

  --base-padding: 1rem;

  --padding-aboutme: 1rem;
}


@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url(/fonts/converted/ms_sans_serif.woff) format("woff");
  src: url(/fonts/converted/ms_sans_serif.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;

  font-style: normal
}

@font-face {
  font-family: "Pixelated MS Sans Serif Bold";
  src: url(/fonts/converted/ms_sans_serif_bold.woff) format("woff");
  src: url(/fonts/converted/ms_sans_serif_bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal
}

@font-face {
  font-family: Perfect DOS VGA\ 437 Win;
  src: url(/fonts/converted/PerfectDOSVGA437Win.woff2) format("woff2");
  src: url(/fonts/converted/PerfectDOSVGA437Win.woff) format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal
}

.rootOfEverything {}

html, body, #root {
  /* Set both the HTML and body to take up the full height of the browser window */
  height: 100%;
  width: 100%;
  margin: 0;
  /* Remove default browser margin/padding */
  padding: 0;
  font-family: var(--primary-font);
  background-color: rgb(0, 0, 0);
}

.noSelect {
  /* Dont let user select anything on the loadign screen */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and 11 */
  user-select: none;
  /* Standard syntax */
}


/* Remove all styles from the pdf link   */
.pdfLink, .pdfLink:link, .pdfLink:focus, .pdfLink:active, .pdfLink:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}


/* Apply the border-box model globally */
html *, html *::before, html *::after {
  box-sizing: border-box;
}

/* Mouse arrow */
/* https://www.rw-designer.com/cursor-set/windows-xp-1 */
/* Smaller mouse arrow when clicked */
.mousePointer {
  /* Using the classic XP finger pointer */
  cursor: url('/mouse_pointers/xp_mouse_arrow_large.cur'), pointer;
}

.mousePointer:active {
  /* Using the classic XP finger pointer */
  cursor: url('/mouse_pointers/xp_mouse_arrow.cur'), pointer;
}

/* While on waiting screen, put waiting pointer */
.waitingPointer {
  cursor: url('/mouse_pointers/xp_mouse_busy_large.cur'), pointer;
}

.waitingPointer:active {
  cursor: url('/mouse_pointers/xp_mouse_busy.cur'), pointer;
}

/* When something is clickable */
.clickable, html button, html a {
  cursor: url('/mouse_pointers/xp_mouse_link_large.cur'), auto;
}

/* While clicking, change to smaller */
.clickable:active, html button:active, html a:active {
  cursor: url('/mouse_pointers/xp_mouse_link.cur'), auto;
}

/* While hovering over text */
html p {
  cursor: url('/mouse_pointers/xp_mouse_text_large.cur'), auto;
}

html p {
  cursor: url('/mouse_pointers/xp_mouse_text_small.cur'), auto;
}


@media screen and (max-width: 800px) {
  :root {
    font-size: 1rem;
  }
}