@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url(/fonts/converted/ms_sans_serif.woff) format("woff");
  src: url(/fonts/converted/ms_sans_serif.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Pixelated MS Sans Serif Bold";
  src: url(/fonts/converted/ms_sans_serif_bold.woff) format("woff");
  src: url(/fonts/converted/ms_sans_serif_bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Perfect DOS VGA\ 437 Win;
  src: url(/fonts/converted/PerfectDOSVGA437Win.woff2) format("woff2");
  src: url(/fonts/converted/PerfectDOSVGA437Win.woff) format("woff");
  font-weight: 400;
  font-style: normal
}

.rootOfEverything {}

html, body, #root {
  /* Set both the HTML and body to take up the full height of the browser window */
  height: 100%;
  width: 100%;
  margin: 0;
  /* Remove default browser margin/padding */
  padding: 0;
  font-family: "Pixelated MS Sans Serif";
  background-color: rgb(0, 0, 0);
}

.noSelect {
  /* Dont let user select anything on the loadign screen */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and 11 */
  user-select: none;
  /* Standard syntax */
}


/* Remove all styles from the pdf link   */
.pdfLink, .pdfLink:link, .pdfLink:focus, .pdfLink:active, .pdfLink:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}


/* Apply the border-box model globally */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Mouse arrow */
/* https://www.rw-designer.com/cursor-set/windows-xp-1 */
/* Smaller mouse arrow when clicked */
.mousePointer {
  /* Using the classic XP finger pointer */
  cursor: url('/mouse_pointers/xp_mouse_arrow_large.cur'), pointer;
}

.mousePointer:active, .mousePointer:active {
  /* Using the classic XP finger pointer */
  cursor: url('/mouse_pointers/xp_mouse_arrow.cur'), pointer;
}

/* While on waiting screen, put waiting pointer */
.waitingPointer {
  cursor: url('/mouse_pointers/xp_mouse_busy_large.cur'), pointer;
}

.waitingPointer:active {
  cursor: url('/mouse_pointers/xp_mouse_busy.cur'), pointer;
}

/* When something is clickable */
button, a, .clickable {
  cursor: url('/mouse_pointers/xp_mouse_link_large.cur'), auto;
}

/* While clicking, change to smaller */
button:active, a:active .clickable {
  cursor: url('/mouse_pointers/xp_mouse_link.cur'), auto;
}

/* While hovering over text */
p {
  cursor: url('/mouse_pointers/xp_mouse_text_large.cur'), auto;
}

p:active {
  cursor: url('/mouse_pointers/xp_mouse_text_small.cur'), auto;
}