html, body, #root{
  /* Set both the HTML and body to take up the full height of the browser window */
  height: 100%;
  width: 100%;
  margin: 0; /* Remove default browser margin/padding */
  padding: 0;

  /* Use a standard pointer */
  cursor: auto; 
}


/* Apply the border-box model globally */
*, *::before, *::after {
  box-sizing: border-box;
}


/* For buttons and links to feel like Windows XP */
/* button, a, .clickable {
  cursor: pointer; 
}
.loading {
  cursor: wait; 
} */


/* Mouse arrow */
/* https://www.rw-designer.com/cursor-set/windows-xp-1 */
/* Smaller mouse arrow when clicked */
html:active, body:active{
    /* Using the classic XP finger pointer */
  cursor: url('/xp_mouse_arrow.cur'), pointer;
}
html, body, #root {
  /* Using the classic XP finger pointer */
  cursor: url('/xp_mouse_arrow_large.cur'), pointer;
}
/* <While on waiting screen, put waiting pointer */
.waitingPointer {
  cursor: url('/xp_mouse_busy_large.cur'), pointer;
}
.waitingPointer:active {
  cursor: url('/xp_mouse_busy.cur'), pointer;
}

/* When something is clickable */
button, a {
  cursor: url('/xp_mouse_link_large.cur'), auto;
}
/* While clicking, change to smaller */
button:active, a:active {
  cursor: url('/xp_mouse_link.cur'), auto;
}