.loadingBackground{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  display: flex; 
  flex-direction: row;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */

  text-align: center;

  height: 100vh; 
  width: 100vw;

  /* Full opacity at start */
  opacity: 1;
  z-index: 9998;


  /* pointer-events: none; */
}


/* Loading screen fades out after a duration */
.loadingBackgroundFadeOut{
  /* Set the duration for the whole animation */
  animation: autoFadeOut 3s forwards; 
  
  /* Full opcaity at start */
  opacity: 1; 
}

@keyframes autoFadeOut {
  0% { opacity: 1; }
  75% { opacity: 1; } 
  
  100% { opacity: 0; visibility: hidden; } 
}

.loadingGif{
  max-width: min(50vh,50vw);
  max-height: min(50vh,50vw);
}
