@import url('global.module.css');

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* center horizontally */
  align-items: center;
  /* center vertically */

}



.windowsXPBackground {
  object-fit: cover;
}

.screen {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* background-color: black; */
}


.contentLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}