.content {
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  justify-content:center; /* center horizontally */
  align-items: center; /* center vertically */
}



.backgroundContainer {
  background-image: url('/windows-xp-background.jpeg'); 
  height: 100vh; 
  width: 100vw;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
