@import url('global.css');

.content {
    position: relative;
    display: flex;
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
    flex-grow: 1;
    min-height: 0;
}