@import url('global.css');

.downloadButton {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;


}

.downloadButtonSmall {
    padding: 1rem;
    font-size: 1.5rem;
}

.downloadButtonBig {
    padding: 1.25rem;
    font-size: 1.6rem;
}

.pdfWrapper {
    display: flex;
    /* Vertical center */
    justify-content: center;
    height: 100%;
    /* background-color: gray; */
    padding: 0rem;
}

.pdf {
    width: 50%;
}

.pdfRoot {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.loadingText {
    color: black;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;

}