.downloadButton {
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 2;


}

.downloadButtonSmall {
    padding: 1em;
    font-size: 1.2em;
}

.downloadButtonBig {
    padding: 1.5em;
    font-size: 1.6em;
}

.pdfWrapper {
    display: flex;
    /* Vertical center */
    justify-content: center;
    height: 100%;
    /* background-color: gray; */
    padding: 0em;
}

.pdf {

    width: 50%;
}

.pdfRoot {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.loadingText {
    color: black;
    align-items: center;
    padding: 1em;
    font-size: 2em;
    display: flex;
    justify-content: center;

}