@import url('global.css');

.slideshowContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border-radius: 8px; */
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    border-radius: 0.5rem;

}

.mediaViewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    aspect-ratio: 1 / 1;

}

.slideImage, .videoWrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--xp-silver-light);



}

.controls button {
    padding: 1em 2rem;
    margin: 0 1em;
}

.loadingText {
    color: var(--xp-silver-light);
    background-color: var(--xp-blue-primary);
}