@import url('global.css');

.slideshowContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* border-radius: 8px; */
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.mediaViewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
    aspect-ratio: 1 / 1;
}

.slideImage, .videoWrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: var(--xp-silver-light);

}

.loadingText {
    color: var(--xp-silver-light);
    ;
    background-color: var(--xp-blue-primary);
    ;
}