
.popupBody {
  display: flex;
  flex-direction: column; 
  overflow: auto;  
  height:100%;
  
}

.popupIframe{
  height: 100%;    
  width: 100%;
  display: block;
}

.popupScreen {
  box-sizing: border-box;
  width: min(80vw, 100vh);
  height: min(70vh, 100vw);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popupScreenMaximized {
  box-sizing: border-box;
  width: 100%;
  height:100%;
  
}

.popupBodyInner {
}
