@import url('global.css');

.iconFont {
  font-family: var(--primary-font);
  font-size: min(4vh, 4vw);
  /* Standard size */
  color: white;
  /* White text is key */

  margin-top: 1vh;
  margin-bottom: 0;

  /* Create the sharp, 4-directional black shadow outline */
  text-shadow:
    -1px 1px 0 #000000,
    0px 1px 0 #000000,
    -1px 0px 0 #000000;

  font-weight: bold;
  text-shadow: 0.1rem 0.1rem 0.15rem #000000;
}


.buttonBox {
  text-align: center;
  width: min(23vh, 23vw);
  height: min(23vh, 23vw);

  background-color: transparent;

  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* center horizontally */
  align-items: center;
  /* center vertically */
}


.iconBox {
  width: 100%;
  height: 100%;

  /* Needed for the image scalign down */
  position: relative;
}

.clickableImage {
  object-fit: contain;
}


/* Phone settings */
@media screen and (max-width: 800px) {
  .iconFont {
    font-size: 1.5rem;
  }

  .buttonBox {
    text-align: center;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
  }

  .iconBox {
    width: 50rem;
    height: 5rem;
  }
}