.iconFont {
  font-family: "Pixelated MS Sans Serif";
  font-size: min(3vh, 3vw);
  /* Standard size */
  color: white;
  /* White text is key */

  margin-top: 1vh;
  margin-bottom: 0;

  /* Create the sharp, 4-directional black shadow outline */
  text-shadow:
    -1px 1px 0 #000000,
    0px 1px 0 #000000,
    -1px 0px 0 #000000;

  /* font-weight: bold; */
}


.buttonBox {
  text-align: center;
  width: min(20vh, 20vw);
  height: min(20vh, 20vw);

  background-color: transparent;

  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* center horizontally */
  align-items: center;
  /* center vertically */
}


.iconBox {
  width: 100%;
  height: 100%;

  /* Needed for the image scalign down */
  position: relative;
}

.clickableImage {
  object-fit: contain;
}