@import url('global.css');

.popupBody {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;

}

.popupIframe {
  height: 100%;
  width: 100%;
  display: block;
}

.popupScreen {
  box-sizing: border-box;
  width: min(80vw, 100vh);
  height: min(70vh, 100vw);
  display: flex;
  flex-direction: column;

  z-index: 2;
}

.popupScreenMaximized {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

}

.popupScreenMaximized p, .popupScreenMaximized span, .popupScreenMaximized img {
  font-size: 1.5em;
}


.popupTitleBar {
  height: fit-content;
}

.popupTitleBarIcon {
  display: inline-block;
  position: relative !important;
  aspect-ratio: 1 / 1;
  width: 1em !important;
  height: 1em !important;

  margin-left: 0.25em;
}

.popupTitleBarLeft {
  display: flex;
  flex-direction: row;

  align-items: center;
  text-align: center;
}