@import url('global.css');

.popupBody {
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;

}

.popupIframe {
  height: 100%;
  width: 100%;
  display: block;
}

.popupScreen {
  box-sizing: border-box;
  width: clamp(500px, 80%, 1200px);
  height: clamp(500px, 90%, 1200px);

  display: flex;
  flex-direction: column;

  z-index: 2;
}

.popupScreenMaximized {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

}

.popupScreenMinimized p, .popupScreenMinimized span, .popupScreenMinimized img {
  font-size: 1rem;
}

.popupBodyFiles p, .popupBodyFiles span, .popupBodyFiles img {
  font-size: 1rem;
}

.popupScreenMaximized p, .popupScreenMaximized span, .popupScreenMaximized img {
  font-size: 1.25rem;
}

.popupScreenMaximized .popupBodyFiles p, .popupScreenMaximized .popupBodyFiles span, .popupScreenMaximized .popupBodyFiles img {
  font-size: 1.25rem;
}

.popupTitleBar {
  height: fit-content;
  font-size: 1rem;
}

.popupTitleBarIcon {
  display: inline-block;
  position: relative !important;
  aspect-ratio: 1 / 1;
  width: 1.25rem !important;
  height: 1.25rem !important;

  margin-left: 0.25rem;
}

.popupBarIcon {
  width: 1.55rem;
  height: 1.5rem;
}

.popupTitleBarLeft {
  display: flex;
  flex-direction: row;

  align-items: center;
  text-align: center;
}

.popupBodyPhone p {
  /* font-family: var(--primary-font); */
  font-size: 2rem;
  font-weight: bold;
}