@import url('global.css');

.popupBody {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;

}

.popupIframe {
  height: 100%;
  width: 100%;
  display: block;
}

.popupScreen {
  box-sizing: border-box;
  width: min(80vw, 130vh);
  height: min(75vh, 100vw);
  display: flex;
  flex-direction: column;

  z-index: 2;
}

.popupScreenMaximized {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

}

/* Sizes of text when minimize and maximize */
.popupBody p, .popupBody span, .popupBody img {
  font-size: 1.2em;
}

.popupScreenMaximized p, .popupScreenMaximized span, .popupScreenMaximized img {
  font-size: 1.4em;
}


.popupTitleBar {
  height: fit-content;
  font-size: 1.6em;
}

.popupTitleBarIcon {
  display: inline-block;
  position: relative !important;
  aspect-ratio: 1 / 1;
  width: 1.3em !important;
  height: 1.3em !important;

  margin-left: 0.25em;
}

.popupBarIcon {
  width: 2.6em;
  height: 2.5em;
}

.popupTitleBarLeft {
  display: flex;
  flex-direction: row;

  align-items: center;
  text-align: center;
}