@import url('global.css');

.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* Tree */

.fileActive {
    background-color: var(--xp-blue-primary);
    color: var(--xp-blue-light);
}

.tree {
    font-size: clamp(1em, min(2vh, 2vw), 3em);
    color: black;
    height: 100%;
    width: fit-content;

    overflow-y: scroll;
    overflow-x: hidden;

    margin: 0;
    padding: 0 0.5em;

    border-right: 1px solid var(--xp-blue-border);

    display: block;


    font-family: "Pixelated MS Sans Serif";
}

/* Remove arrow */
.tree summary, .tree ul, .tree li {
    list-style: none;
}

.tree ul {
    padding-left: 1.3em;
}

.tree li, .tree summary {
    padding: max(0.22em, 0.4vw) 0.3em;


}

.tree summary {
    font-family: "Pixelated MS Sans Serif Bold";
}


/* Remove arrow for safari */
.tree summary::-webkit-details-marker {
    display: none;
}

.tree details>summary:before {
    text-align: center;
    display: block;
    float: left;
    content: "+";
    border: 1px solid var(--xp-blue-border);
    background-color: var(--xp-silver-light);
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
}

.tree details[open]>summary:before {
    content: "-"
}

.icon {
    display: inline-block;
    position: relative !important;
    aspect-ratio: 1 / 1;
    width: 1em !important;
    height: 1em !important;

    margin-left: 0.25em;
}