.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


/* Tree */

.fileActive {
    background-color: #00f;
    color: white;
}

.tree {
    font-size: clamp(1em, min(2vh, 2vw), 3em);
    color: black;
    height: 100%;
    width: fit-content;

    overflow-y: scroll;
    overflow-x: hidden;

    margin: 0;
    padding: 0 0.5em;

    border: 1px solid #7f9db9;
    display: block;


    font-family: "Pixelated MS Sans Serif";
}

/* Remove arrow */
.tree summary, .tree ul, .tree li {
    list-style: none;
}

.tree ul {
    padding-left: 1.3em;
}

.tree li, .tree summary {
    padding: max(0.22em, 0.4vw) 0.3em;


}

.tree summary {
    font-family: "Pixelated MS Sans Serif Bold";
}


/* Remove arrow for safari */
.tree summary::-webkit-details-marker {
    display: none;
}

.tree details>summary:before {
    text-align: center;
    display: block;
    float: left;
    content: "+";
    border: 1px solid #00f;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
}

.tree details[open]>summary:before {
    content: "-"
}