.root {
    flex: 1;
    display: block;
    font-family: "Pixelated MS Sans Serif";
}

.root p {

    font-family: "Pixelated MS Sans Serif";
    margin-top: 0em;
    margin-bottom: 0em;
}

.wrapper {
    flex: 1;
    display: flex;
    height: 100%;
    margin-left: 1em;
    font-size: min(2cqw, 2cqh);
}


.title {
    text-align: center;
    font-family: "Pixelated MS Sans Serif Bold";
    font-size: min(4cqw, 4cqh);
    margin-top: 0em;
    margin-bottom: 0em;
    width: 100%;
    border: 2px solid rgb(157, 65, 65);
}

.tags {
    font-family: "Pixelated MS Sans Serif Bold";
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centers horizontally */
    text-align: center;
    width: 100%;
    border: 2px solid rgb(175, 110, 110);
    margin-bottom: 1em;
}

.tags p {
    margin: 0;
}

.description {
    flex: 1;
    width: 100%;
    overflow: auto;
}

.leftArea {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: 1px solid rgb(255, 0, 0);
}

.rightArea {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 100%;
    border: 1px solid rgb(123, 255, 0);
}

.screenshots {
    width: 100%;
    max-height: 50%;
    border: 2px solid rgb(195, 0, 255);
}


.bulletpoints {
    width: 100%;
    height: 50%;
    border: 2px solid rgb(255, 230, 0);
}