/* The Main Bar */
.xpTaskbar {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  height: 6vh;
  background: linear-gradient(to bottom, #245edb 0%, #3f8cf3 9%, #245edb 18%, #245edb 92%, #1941a5 100%);
  display: flex;
  align-items: center;
  z-index: 999;

  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);

  flex-shrink: 0;

  font-size: 1.5em;
  font-family: "Pixelated MS Sans Serif";

}

/* The Iconic Start Button */
.startButton {
  height: 100%;
  padding: 0.25em 1em;
  background: linear-gradient(to bottom, #388238 0%, #53a353 10%, #388238 20%, #388238 90%, #245024 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  font-style: italic;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px #222;
  font-size: 1.3em;
}

.startButton:hover {
  filter: brightness(1.1);
}

/* Task Items */
.taskItems {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 5px;
}

.taskItem {
  background: #3c81f3;
  color: white;
  padding: 2px 10px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskItem.active {
  background: #1e52b7;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* System Tray / Clock */
.systemTray {
  background: linear-gradient(to bottom, #0997ff 0%, #0053ee 100%);
  border-left: 1px solid #1042af;
  height: 100%;
  padding: 0 1em;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: inset 1px 0 1px rgba(255, 255, 255, 0.3);


}

.clock {
  margin-left: 1em;
}

.xpLogo {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  aspect-ratio: 1 / 1;
}