@import url('global.css');

/* The Main Bar */
.xpTaskbar {
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  height: 7vh;
  background: linear-gradient(to bottom, var(--xp-blue-taskbar) 0%, var(--xp-bliss-sky) 9%, var(--xp-blue-taskbar) 18%, var(--xp-blue-taskbar) 92%, var(--xp-blue-border) 100%);
  display: flex;
  align-items: center;
  z-index: 999;

  /* box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5); */

  flex-shrink: 0;
  font-family: "Pixelated MS Sans Serif";

}

.xpLogo {
  vertical-align: middle;
}

.xpTaskbar .xpLogo, .xpTaskbar span {
  text-shadow: 1px 1px 1px #222;
  font-size: min(3.5vw, 3.5vh);
}

.xpTaskbar .systemTray span {
  font-size: min(3vw, 3vh);
}

/* The Iconic Start Button */
.startButton {
  height: 100%;
  padding: 0.25em 1em;
  padding-bottom: 0;
  background: linear-gradient(to bottom, var(--xp-green-primary) 0%, var(--xp-green-taskbar) 10%, var(--xp-green-primary) 20%, var(--xp-green-primary) 90%, var(--xp-green-border) 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  color: white;

  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}


.startButton:hover {
  filter: brightness(1.1);
}

/* Task Items */
.taskItems {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 5px;
}



.taskItem {
  background: var(--xp-blue-taskbar);
  color: white;
  padding: 2px 10px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskItem.active {
  background: var(--xp-blue-taskbar);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* System Tray / Clock */
.systemTray {
  /* background: linear-gradient(to bottom, var(--xp-bliss-sky) 0%, var(--xp-blue-taskbar) 100%);
   */
  background: linear-gradient(to bottom, var(--xp-bliss-sky) 0%, #57b8fd 9%, var(--xp-bliss-sky) 18%, var(--xp-bliss-sky) 92%, var(--xp-blue-border) 100%);
  border-left: 1px solid var(--xp-blue-taskbar);
  height: 100%;
  padding: 0 1em;
  padding-top: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: inset 1px 0 1px rgba(255, 255, 255, 0.3);
  vertical-align: middle;

}

.xpTaskbar span {
  height: 100%;
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  text-align: center;
}

.clock {
  margin-left: 0.5em;

}

.xpLogo {
  display: inline-block;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 1.1em !important;
  height: 1.1em !important;
}

.muteIcon {
  display: inline-block;
  position: relative !important;
  aspect-ratio: 1 / 1;
  width: 1em !important;
  height: 1em !important;
  margin-right: 0.4em;
}