@import url('global.module.css');


/* The Main Bar */
.xpTaskbar {
  --xpTaskbarHeight: 3.5rem;

  /* position: fixed;
  bottom: 0; */
  width: 100%;
  height: var(--xpTaskbarHeight);
  background: linear-gradient(to bottom, var(--xp-blue-taskbar) 0%, var(--xp-bliss-sky) 9%, var(--xp-blue-taskbar) 18%, var(--xp-blue-taskbar) 35%, var(--xp-bliss-sky) 88%, var(--xp-blue-border) 100%);
  display: flex;
  align-items: center;
  z-index: 999;

  /* box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5); */

  flex-shrink: 0;
  font-family: var(--primary-font);

}



.xpTaskbar .xpLogo, .xpTaskbar span {
  text-shadow: 1px 1px 1px #222;
  font-size: 1.5rem
}


.xpTaskbar .systemTray span {
  font-style: bold;
  font-size: 1.5rem;
}

/* The Iconic Start Button */
.startButton {
  height: 100%;
  padding: 0.25rem 1.5rem 0.25rem 1rem;
  padding-bottom: 0;
  background: linear-gradient(to bottom, var(--xp-green-primary) 0%, var(--xp-green-taskbar) 10%, var(--xp-green-primary) 20%, var(--xp-green-primary) 90%, var(--xp-green-border) 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  color: var(--xp-silver-light);

  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}


.startButton:hover {
  filter: brightness(1.1);
}

/* Task Items */
.taskItems {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 5px;
}



.taskItem {
  background: var(--xp-blue-taskbar);
  color: var(--xp-silver-light);
  padding: 2px 10px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.taskItem.active {
  background: var(--xp-blue-taskbar);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* System Tray / Clock */
.systemTray {
  /* background: linear-gradient(to bottom, var(--xp-bliss-sky) 0%, var(--xp-blue-taskbar) 100%);
   */
  background: linear-gradient(to bottom, var(--xp-bliss-sky) 0%, #57b8fd 9%, var(--xp-bliss-sky) 18%, var(--xp-bliss-sky) 92%, var(--xp-blue-border) 100%);
  border-left: 1px solid var(--xp-blue-taskbar);
  height: 100%;
  padding: 0 1rem;
  padding-top: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--xp-silver-light);
  box-shadow: inset 1px 0 1px rgba(255, 255, 255, 0.3);
  vertical-align: middle;

}

.xpTaskbar span {
  height: 100%;
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  text-align: center;
}

.clock {
  margin-left: 0.5rem;

}

.xpLogo {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 2rem !important;
  height: 2rem !important;
  margin-right: 0.1rem;
}

.muteIcon {
  display: inline-block;
  position: relative !important;
  aspect-ratio: 1 / 1;
  width: 1.75rem !important;
  height: 1.75rem !important;
  margin-right: 1rem;

}

/* Start popup */
.popup {
  box-sizing: border-box;
  display: grid;
  width: 20rem;
  background-color: var(--xp-blue-light);
  position: absolute;
  bottom: var(--xpTaskbarHeight);

  border: 1px solid var(--xp-blue-taskbar);

  box-shadow: inset 3px 0 10px rgba(0, 0, 0, 1);

}


.popup, .popupTopBar {
  border-radius: 0.4rem 0.4rem 0 0;
}

.startPopupClosed {
  display: none;
}

.startButtonWrapped {
  height: 100%;
}

.popupTopBar, .popupBottomBar, .popupContent {
  padding: 0.5rem;
}

.popupContentElement {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 1rem;
}

.popupContentElement:hover {
  background: linear-gradient(to bottom, var(--xp-blue-taskbar) 0%, var(--xp-blue-taskbar) 18%, var(--xp-blue-taskbar) 35%, var(--xp-bliss-sky) 98%, var(--xp-blue-border) 100%);
  color: var(--xp-silver-light);
  border-radius: 0.5rem;

}

.popupContentLogo {
  position: relative !important;
  aspect-ratio: 1 / 1;
  width: 1.5rem !important;
  height: 1.5rem !important;
  margin-right: 0.25rem;
  display: flex;
  align-items: center;
}

.popupTopBar {
  width: 100%;
  height: var(--xpTaskbarHeight);
  padding-left: 1rem;
  background: linear-gradient(to bottom, var(--xp-blue-taskbar) 0%, var(--xp-bliss-sky) 9%, var(--xp-blue-taskbar) 18%, var(--xp-blue-taskbar) 35%, var(--xp-bliss-sky) 98%, var(--xp-blue-border) 100%);

}


.popupBottomBar {
  padding-right: 1rem;
  background: linear-gradient(to bottom, var(--xp-blue-taskbar) 0%, var(--xp-bliss-sky) 5%, var(--xp-blue-taskbar) 70%);

}

.popupTurnoffField {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.popupTurnoffFieldInner {
  display: flex;
  align-items: center;
}

.popupCloseButtonWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.popupText {
  color: var(--xp-silver-light);
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 2px #3f3f3f;
}

.popupTurnoffButton {
  width: 3rem;
  min-width: fit-content;
  min-height: fit-content;
  aspect-ratio: 1/1;
  padding: 0;
  margin: 0 0.5rem;
  background: var(--xp-orange-close);
}

.popupContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;

  background-color: var(--xp-silver-light);
}

/* Phone settings */
@media screen and (max-width: 800px) {
  .xpTaskbar, .systemTray {
    display: none;
  }
}