.webpageRoot {
    display: flex;
    flex-direction: column;
    align-items: center;


    height: 100%;
    width: 100%;

    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.webpageBackground{
    background-image: url('/background-space.gif');
    background-color: rgb(0, 0, 0);

}

.webpageRootMinimized{
    padding: min(3vh, 3vw);
}

.webpageRootMaximized {
    padding: min(3vh, 3vw);
    padding-left: 20vw;
    padding-right: 20vw;
}

.textVerySmall{
    font-size: min(1.5vh, 1.5vw);
}

.textSmall {
    font-size: min(2vh, 2vw);   
}

.textBig {
    font-size: min(3vh, 3vw);
}


.columns {
    width: 100%;
    display: flex;
}

.rows {
    
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
}



.textBox{
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

    text-align: left;
    
    margin-bottom: min(3vh, 3vw);
    padding: min(3vh, 3vw);
}

.boxBorder {

    border-style: dashed;
    border-radius: 0;
    border-color: rgb(0, 136, 255);
}

.leftColumn {
/* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    flex: 0 0 35%;
    margin-right: min(3vh, 3vw);
}
.rightColumn {
/* grow: 0 (don't grow), shrink: 0 (don't shrink), basis: 50% (fixed size) */
    flex: 0 0 35%;
}

.textBoxPicure {
    aspect-ratio: 1 / 1;
}
.textBoxAboutMe {
}

.content{
}

@media (max-width: 750px) {
    .webpageRootMaximized {
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media (min-width: 1500px) {
    .webpageRootMaximized {
        padding-left: 20%;
        padding-right: 20%;
    }
}