.webpageRoot {
    background-image: url('/background-space.gif');
    background-color: aqua;
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    text-align: center;
    font-size: min(4vw, 4vh);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.columns {
    display: flex;
}

.rows {
    display: flex;
    flex-direction: column;

}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


.small {
    font-size: min(2vw, 2vh);
}

.smallPaddingerVt {
    padding-top: min(2vw, 2vh);
}

.paddingVert {
    padding-top: min(2vw, 2vh);
}

.blockSize {
    height: 30%;
    width: 30%;
}